@font-face {
  font-family: yekan;
  src: url("../fonts/iranyekanwebbold.ttf") format("truetype");
}

body {
  font-family: yekan;
}

/* utility  */
.lh-1 {
  line-height: 30px;
}

.lh-2 {
  line-height: 35px;
}

.underline {
  width: 150px;
  border: 3px solid #eee;
  margin: auto;
}

.underline-dark {
  border: 3px solid #888;
}
/* end of utility  */

/* header  */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* banner  */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading {
  animation-name: anim;
  animation-duration: 2s;
}

.banner-par {
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes anim {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* end of banner  */

/* navbar  */
.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 30px;
  transition: all 0.7s;
}

.menu-item {
  font-size: 17px;
  color: #eee;
  transition: color 0.5s;
}

.menu-item:hover {
  color: #70aed2;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

/* end of navbar  */

/* end of header  */

/* awards  */
.awards {
  background-color: #151f20;
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* end of awards  */

/* services  */
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  position: absolute;
  bottom: 50px;
  left: 0px;
  font-size: 25px;
  background-color: #2980b9;
  width: 60%;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.7s;
}

.heading:hover {
  opacity: 1;
}

/* end of services  */

/* gallery  */
.gallery-list-item {
  color: #777;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: #70aed2;
}
/* end of gallery  */

/* trainers  */
.trainers {
  background-color: #151f20;
}
/* end of trainers  */

/* membership  */

.card-1,
.card-2,
.card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/membership.jpg);
  background-size: cover;
  box-shadow: 7px 8px 50px #555;
  max-width: 370px;
}

.card-list-item {
  border-bottom: 1px groove #eee;
  width: 55%;
  margin: auto;
}

.membership-card-button {
  background-color: #2980b9;
  width: 130px;
  border-radius: 25px;
  box-shadow: 5px 8px 18px #000;
  transition: all 0.4s;
}

.membership-card-button:hover {
  background-color: #3498db;
  transform: translateY(-2px);
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.moveFromLeft {
  animation-name: moveFromLeft;
  animation-duration: 2s;
}

.moveFromRight {
  animation-name: moveFromRight;
  animation-duration: 2s;
}

.moveFromBottom {
  animation-name: moveFromBottom;
  animation-duration: 2s;
}

/* end of membership  */
